.search__main-container{
    position: absolute;
    top: 2.5rem;
    left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: self-start; 
}

.search__main-container > i {
    font-size: 3rem;
}

.google__search{
    background:transparent;
    border: none;
    border-bottom: 3px solid var(--white-color);
    width: 30rem;
    text-align: center;
    outline: none;
    font-size: 2rem;
    padding: 1rem;
}

.google__btn{
    background-color: transparent;
    font-size: 3rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
}