.quote__main-container{
    position: absolute;
    bottom: 0;
    margin: 1rem 0rem;
}

.quote{
    font-size: 1.5rem;
}

.author{
    font-size: 0;
}

.quote__main-container:hover>.author{
    transition: .2s ease-in;
    font-size: 1.2rem;
}